<!-- <div>
    <app-nav-bar></app-nav-bar>
</div> -->

<div class="container">
    <div class="resortDetails-container">

        <h2 class="headline"> Resort Booking Details </h2>
        <table class="table table-hover">
            <thead class="headline1">
                <th>Number of Persons</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Price</th>
                <th>Address</th>
                <th>status</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let book of booking">
                    <td>{{book.noOfPersons}}</td>
                    <td>{{book.fromDate}}</td>
                    <td>{{book.toDate}}</td>
                    
                    <td>{{book.totalPrice}}</td>
                    
                    <td>{{book.address}}</td>
                    <td>{{book.status}}</td>
                    
                    <td>
                        <button type="button" class="btn btn-primary" id="accept">Accept</button>&nbsp;
                        <button type="button" class="btn btn-danger" id="reject">Reject</button>
                    </td>
                </tr>
        </tbody>
        </table>
    </div>
</div>