.bg-green {
  background-color: rgb(2, 177, 2) !important;
}

.text-white {
  color: white !important;
}
.navbar {
  position: fixed;
  height: 55px; /* Adjust the height as needed */
  width: 100%;
  z-index: 1000
}

.navbar-brand{
font-size: 20px;
color: white;
}

.nav-link{
color: white  !important;
}
.nav-item
{
  margin-right: 20px;
  font-size: 20px;
}

.nav-link:hover {
color: rgb(1, 43, 9) !important; 
}

.welcome-message {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

  transform: translate(0%, -20%);
}

h1{
  color: rgb(0, 103, 39);
}
.landing-page-container {
  /* background-image: url('https://wallpaperbat.com/img/81995-free-download-resort-wallpaper-1920x1080-for-your-desktop.jpg');  */
  background: linear-gradient(90deg, rgb(241, 255, 241) 0%, rgb(175, 232, 255) 100%);
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  /* background-color: rgba(0, 0, 0, 0.2);  */
  backdrop-filter: blur(7px); 
  z-index: -1;
}

ode.enlarge-button { 
  padding: 10px 20px; 
  font-size: 16px; 
  transition: transform 0.3s ease; 
} 
 
.enlarge-button:hover { 
  transform: scale(1.1); 
} 