<nav class="navbar navbar-expand-lg navbar-light bg-green text-white">
  <a class="navbar-brand" href="#">Online Resort Booking Portal</a>

  <ul class="navbar-nav ml-auto">
    <!-- Login Link -->
    <li class="nav-item">
      <a><button class="btn btn-light enlarge-button" routerLink="/login">Login</button></a>
    </li>

    <!-- Register Link -->
    <li class="nav-item">
      <button class="btn btn-primary enlarge-button" routerLink="/register">Register</button>

    </li>
  </ul>
</nav>

<!-- body -->

<div class="landing-page-container">
  <div class="welcome-message">
    <br><br>
    <h1>Online Resort Booking Portal</h1>
    <br><br>
    <p style="font-size: 18px; color: black; ">The Online Resort Booking Platform is a digital paradise for those seeking exceptional and enchanting
      accommodations in idyllic resort settings. Central to the platform is a broad and varied collection of resort
      listings, each enriched with detailed descriptions, captivating images, and comprehensive amenity lists. This
      abundance of information enables users to make informed decisions, ensuring that their selected resort aligns
      seamlessly with their expectations and preferences. The Online Resort Booking Platform is crafted to meet the
      diverse preferences of its users, offering a seamless and immersive booking experience for unforgettable stays
      in luxurious resorts.</p>
  </div>
</div>